@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StackOverFlow Clone</h1>
    <p class="lead">This website has some functionalities like stackoverflow forum.</p>
    <p><a href="/member/forum" class="btn btn-primary btn-lg">Visit the website &raquo;</a></p>
</div>
